<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить информацию о пользователе</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="birthday">Введите дату рождения (дд.мм.гггг): </label>
    <input type="text" th:field="*{birthday}" id="birthday"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</div>
    <br/>
    <label for="email">Введите почту: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="Обновить"/>
</form>

</body>
</html>